.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f9fafc;
  }
  
  .hero h1 {
    font-size: 48px;
  }
  
  .hero p {
    font-size: 18px;
    margin-top: 15px;
    color: #555;
  }
  
  .hero-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .primary-btn {
    background-color: #2967AE;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
  }
  
  .secondary-btn {
    border: 2px solid #2967AE;
    padding: 12px 25px;
    border-radius: 8px;
    background-color: white;
  }
  .home-map {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 120px;
  }
  
    
    .map-title{
    text-align:center;
    font-size:32px;
    margin-bottom:25px;
    font-weight:600;
    }
    
    .home-map button {
      padding: 8px 16px;
      margin: 0 6px;
      border-radius: 8px;
      border: 1px solid #d1d5db;
      background: white;
      cursor: pointer;
      transition: 0.2s;
    }
    
    .home-map button:hover {
      background: #2967AE;
      color: white;
      border-color: #2967AE;
    }